@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{

    font-family: 'alycidon', sans-serif;
}

/* .bebas{
    font-family: var(--font-bebas);
}

.nisal{
    font-family: var(--font-padauk);
} */
 /* .hero-section{
    background: linear-gradient(to top, #660033 47%, #66ffff 100%);
}  */